body {
  background-color: rgb(93, 199, 248);
  margin: 0;
  overflow: hidden;
  position: relative;
}

#canvas {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
}

.game-over {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: #000;
  z-index: 200;
}

.game-over__title {
  font-family: 'Press Start 2P';
  color: #fff;
}

.game-over__text {
  font-family: 'Press Start 2P';
  color: #fff;
}
